@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@media (max-width: 1087px) {
    * {
        visibility: hidden;
        background: var(--corDeDestaque);
    }

    #tela-pequena-aviso {
        visibility: visible;
        display: block;
    }
}

@media (min-width: 1088px) and (max-width: 1300px) {
    #opcao1, #opcao2, #opcao3, #opcao4, #opcao1-quiz2, #opcao2-quiz2, #opcao3-quiz2, #opcao4-quiz2 {
        font-size: 14px;
    }
}

:root {
    --corEscuraJogador1: #2C44BC;
    --corMediaJogador1: #3953D8;
    --corClaraJogador1: #3D58E0;
    --corEscuraJogador2: #549421;
    --corMediaJogador2: #69BD24;
    --corClaraJogador2: #7AE026;
    --corDeFundo: #000000;
    --corDeDestaque: #ffffff;
}

* {
    padding: 0;
    margin: 0;
}

body, #quiz-area1, .respostas, .botao, #conteudo-meio, #quiz-area2, #barras-de-vida, .coracoes-caixa, .barra-de-vida, #caixa-minijogo, #conteudo-meio-inferior {
    display: flex;
}

.coracoes-caixa, .barra-de-vida, .botao, #conteudo-meio, #caixa-minijogo, #conteudo-meio-inferior {
    align-items: center;
}

.caixa-perguntas, button, button:hover {
    background-color: var(--corDeDestaque);
}

.respostas, .botao, #quadro, .coracao {
    width: 100%;
}

#quiz-area1, #quiz-area2 {
    min-height: max-content;
    max-height: 100vh;
    width: 350px;
    flex-direction: column;
    position: relative;
    padding: 15px;
    padding-bottom: 0;
    border-left: 2px solid var(--corDeFundo);
    border-right: 2px solid var(--corDeFundo);
}

body {
    height: 100vh;
    justify-content: space-between;
    background-color: var(--corDeFundo);
    background-image: linear-gradient(90deg, var(--corMediaJogador1) 44%, var(--corMediaJogador2) 55%)
}

#quiz-area1 {
    margin-left: 3%;
    background: linear-gradient(180deg, var(--corEscuraJogador1), var(--corClaraJogador1))
}

.caixa-perguntas {
    width: 93%;
    border: 2px solid var(--corDeFundo);
    border-radius: 10px;
    padding: 10px;
    cursor: none;
}

.pergunta {
    text-align: center;
    font-size: 20px;
    color: var(--corDeFundo);
    font-family: 'Cinzel', serif;
    font-weight: 600;
}

.respostas {
    flex-direction: column;
    position: absolute;
    left: -.1%;
    top: 57%;
    font-size: 18px;
    cursor: none;
}

.botao-indice {
    background-color: var(--corDeFundo);
    color: var(--corDeDestaque);
    height: 31px;
    width: 20px;
    margin-left: 10px;
    border: 2px solid var(--corDeFundo);
    border-radius: 10px 0 0 10px;
    padding-left: 13px;
    padding-top: 10px;
    font-family: monospace;
}

.botao > button {
    height: 45px;
    margin: 10px;
    margin-left: 0;
    padding: 8px 0;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid var(--corDeFundo);
    border-radius: 0 10px 10px 0;
    width: 90%;
    pointer-events: none;
}

#conteudo-meio {
    flex-direction: column;
    width: 500px;
    height: 97.795vh;
    margin: 0 2%;
    margin-top: 10px;
    justify-content: space-between;
}

#quadro {
    height: 130px;
    width: 420px;
    background-color: var(--corDeFundo);
    border-radius: 10px;
    box-shadow: 2px 2px var(--corDeDestaque);
    padding: 15px;
    position: relative;
}

#cronometro-caixa {
    width: max-content;
    height: max-content;
    margin: 5px auto;
}

#cronometro {
    color: var(--corDeDestaque);
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
}

#barras-de-vida {
    flex-direction: column;
    color: var(--corDeDestaque);
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    max-width: 100%;
    position: absolute;
    bottom: 5%;
}

.coracoes-caixa {
    height: 45px;
    min-width: 45px;
    max-width: 225px;
}

.coracao {
    min-width: 45px;
    margin-right: -15px;
}

#vs-texto {
    font-size: 70px;
    font-family: 'Caveat Brush', cursive;
}

.invisivel {
    display: none;
}

#tela-pequena-aviso {
    font-size: 18px;
    font-family: monospace;
    text-transform: uppercase;
}

#conteudo-meio-inferior {
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20%;
}

#minijogo-indice-1 {
    background-color: var(--corDeFundo);
    color: var(--corMediaJogador1);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
    width: 9vw;
    height: 3vw;
    text-align: left;
}

#minijogo-indice-1 > p {
    padding-left: 17%;
    padding-top: 1%;
}

#minijogo-indice-2 {
    background-color: var(--corDeFundo);
    color: var(--corMediaJogador2);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    font-weight: bold;
    font-family: monospace;
    width: 9vw;
    height: 3vw;
    font-size: 13px;
    text-align: right;
}

#minijogo-indice-2 > p {
    padding: 8% 0;
    padding-right: 25%;
}

#codigo-caixa {
    width: 200px;
    height: 100px;
    background-color: var(--corDeFundo);
    color: var(--corDeDestaque);
    position: relative;
    font-size: 18px;
    border-radius: 10px;
    overflow: hidden;
    cursor: none;
}

#caixa-minijogo {
    font-family: monospace;
    padding: 20% 0;
    justify-content: space-evenly;
}

.botao-minijogo-azul {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--corMediaJogador1);
}

.botao-minijogo-verde {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--corMediaJogador2);
}

.barra-de-tempo {
    width: 100%;
    height: 4px;
    background-color: var(--corDeDestaque);
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: -100%;
    top: 0;
}

.carregamento {
    animation: carregamento 4s linear;
}

#quiz-area2 {
    margin-right: 3%;
    background: linear-gradient(180deg, var(--corEscuraJogador2), var(--corClaraJogador2))
}

#tela-fim-de-jogo {
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D3D3D4;
}

#botao {
    position: absolute;
    top: 80%;
    left: 85%;
    width: 150px;
    height: 70px;
    color: #ffffff;
    font-size:xx-large;
    background-color: #3D3C3C;
    border-radius: 10px;
    cursor: pointer;
}

#botao:hover {
    filter: brightness(1.5);
    transform: scale(1.05);
}

.fim {
    width: 450px;
    height: 165px;
    font-size:xx-large;
    border-radius: 20% 15%;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid;
    border-color: #000000;
    text-align: center;
    padding-top: 5%;
}

.resultado {
    width: 300px;
    height: 150px;
    max-height: 150px;
    font-size:larger;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 7%;
    border: 3px solid;
    border-color: #000000;
    text-align: center;
}

.resultado > h2 {
    padding-top: 12%;
}

@keyframes carregamento {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}